:root {
  --font-heading: var(--font-plusjakarta, system-ui);
  --font-body: var(--font-plusjakarta, system-ui);

  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}
